
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body 
{
    background-image: -webkit-linear-gradient(top, #FF2B00 0%, #FFFFFF 25%);
    background-image: -moz-linear-gradient(top, #FF2B00 0%, #FFFFFF 25%);
    background-image: -ms-linear-gradient(top, #FF2B00 0%, #FFFFFF 25%);
    background-image: -o-linear-gradient(top, #FF2B00 0%, #FFFFFF 25%);
    background-image: linear-gradient(top, #FF2B00 0%, #FFFFFF 25%); 

    background-repeat:no-repeat;
    background-size:100% 1920px; 

    padding: 20px 15%;
}


#header 
{
    position: relative;
    padding-top: 25px;
}

/* style the outer div to give it width */
.menu 
{
    margin: auto;
    padding:10px 0px 5px 0px;
    position:relative; /*Make the container moveable*/
    width:600px;     /*Main bar total width*/
    font-size:0.95em;
    padding-bottom: 50px; /*Padding between the bottom of your mainbar and the rest of your page */
}

/* remove all the bullets, borders and padding from the default list styling */
.menu ul 
{
    padding:0;
    margin:0;
    list-style-type:none;
}

.menu ul ul 
{
    width:150px; /* Cell size. Divide the main width (750px) by the number of cells you need */
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */

.menu li 
{
    float: left;
    width: 150px; /* Cell size. Divide the main width (750px) by the number of cells you need */
    position:relative;
}

/* style the links for the top level */
.menu a, .menu a:visited 
{
    display:block;
    font-size:12px;
    text-decoration:none; 
    color:#fff; 
    width:140px; /* Defines the main box dimensions. */
    height:30px; /*How tall your cells are*/
    border:1px solid #fff; 
    border-width: 1px 1px 0px 0px; 
    background:#758279; 
    padding-left:5px; 
    line-height:29px; 
}

/* style the second level background */
.menu ul ul a.drop, .menu ul ul a.drop:visited 
{
    background:#949e7c;
}
/* style the second level hover */
.menu ul ul a.drop:hover
{
    background:#c9ba65;
}

.menu ul ul :hover > a.drop 
{
    background:#c9ba65;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul 
{
    visibility:hidden;
    position:absolute;
    height:0;
    top:31px;
    left:0; 
    width:125px;  /* Size of the daughter cells */
}

/* style the second level links */
.menu ul ul a, .menu ul ul a:visited 
{
    background:#d4d8bd; 
    color:#000; 
    height:auto; 
    line-height:1em; 
    padding:5px 10px; 
    width:129px
}

/* style the top level hover */
.menu a:hover, .menu ul ul a:hover
{
    color:#fff; 
    background:#949e7c;
}

.menu :hover > a, .menu ul ul :hover > a 
{
    color:#fff;
    background:#949e7c;
}

/* make the second level visible when hover on first level list OR link */
.menu ul :hover ul
{
    visibility:visible; 
}

/*
label 
{
    display: block;
    padding: 5px;
}
*/

form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
    width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
    font-size: 90%;
}
fieldset {
    border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
      width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
    legend {
    text-align: right;
  }
}